---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About Margo Gantner" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/MargoAbout.jpeg"
					alt="Margo Gantner Wedgemount Lake"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						👋 Hello there! I'm Margo, currently leading growth at Sphere - a tech platform for coaching. 
					</p>
					<br>
					<p>
						I lived in the UK and Canada and worked in all things tech, marketing and events for the past eight years. 
						I've had the opportunity to work for small and big companies like The Telegraph, Tecknuovo and European Parliament.
					</p>
					<br>
					<p>
						I'm not your average marketing pro — with my entrepreneurial mindset, I always try to sprinkle innovation and creativity like fairy dust to meet customer needs and surpass their expectations. 
						My mission is to instill memorable customer experiences that build long-lasting bonds with brands. 🙂
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Leadership Style</h2>
				<div class="content">
					<p>I firmly believe in the power of coaching, and through implementing mentorship and coaching techniques in my leadership, I do my best to instill a growth mindset within individuals and teams.
						When you work with me, you'll get the support needed to explore new ideas, challenge the status quo, and push the boundaries of what's possible.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Technical Skills</h2>
				<div class="content">
					<p>Python | HTML | CSS | QA Testing | Salesforce | Stripe | Shopify | Pardot | Zapier | Hubspot | Klaviyo | Mailchimp | Notion | Asana | Expert MS Office skills (Excel, Access, Word, and PowerPoint) | Advanced Google skills (Analytics and Google Tag Manager)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Business Skills</h2>
				<div class="content">
					<p>Product Management | Team Management | Sales and  Onboarding | Marketing Strategy | Budget Management | Project Management | Negotiation | Content and Lifecycle Marketing | Events and Community Management | Data Analysis | Customer Advocacy</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Out of Office</h2>
				<div class="content">
					<p>Outside office hours, you'll find me conquering majestic peaks and sharing my passion for mountain exploration. 
						I'm a trail runner, hiker and (toddler level) rock climber. I love guiding adrenaline-pumping mountain escapades, sharing my passion for the outdoors like a pro-Gandalf. 
						And as a level 2 ski instructor, I transform ordinary folks into slope-shredding warriors, igniting their love for the slopes with an avalanche of enthusiasm!</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
