---
import Icon from './Icon.astro';
---


<section class="box testimonials">
	<div class="stack gap-2 lg:gap-4">
		<!--<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />-->
		<h2>Val Litwin</h2>
		<h4>Startup Advisor at BrainChild</h4>
		<p> High emotional intelligence meets supremely structural/strategic in her thinking when it comes to execution. She can deliver projects from end to end with little to no support. She is highly accountable. But most importantly: She is fun to work with!</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<!--<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />-->
		<h2>Allison Lew</h2>
		<h4>VP of People and Culture at B Lab</h4>
		<p>Margo was so warm and delightful to work with. Whenever we needed Sphere support at B Lab U.S. & Canada, we knew that we could rely on Margo.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<!--<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />-->
		<h2>Heather Hopkins</h2>
		<h4>Founder at NextWealth</h4>
		<p>Margo has made a big impact on our business - and has quickly become relied upon by all members of the team. She is a problem solver and a do-er. She doesn't need to be asked - she finds things that need fixing or that could be done better and she does them! </p>
	</div>
</section>



<br><br>

<section class="box testimonials">
	<div class="stack gap-2 lg:gap-4">
		<!--<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />-->
		<h2>Stefanie Grieser</h2>
		<h4>SaaS Marketer & Advisor. Co-Founder Shine Bootcamp.</h4>
		<p>Margo is a beautiful human being. Positive, proactive, and quick to learn, she brightens up every room she walks into. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<!--<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />-->
		<h2>Mayank Pandey</h2>
		<h4>Marketing Operations Manager at Opus 2</h4>
		<p>Her ‘out of the box thinking’ and fearless approach to marketing was a joy to work with. She is proactive in her approach and someone whom you can rely on to get the job done. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<!--<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />-->
		<h2>Don Burks</h2>
		<h4>Technical Lead at Amazon</h4>
		<p>I can confidently say that I am grateful for the time I have been able to work with her, as my respect and admiration for what she is capable of has only grown over time.</p>
	</div>
</section>

<style>
	.box {
		border: 0px;
		border-radius: 0.75rem;
		padding: 0rem;
		/*<background-color: var(--gray-999_40);>
		box-shadow: var(--shadow-sm);*/
	}

	.testimonials {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.testimonials h2 {
		font-size: var(--text-lg);
	}

	.testimonials h4 {
		font-size: var(--text-sm);
	}
	.testimonials p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 0rem;
		}

		.testimonials {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.testimonials h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
